@import "tailwindcss";
@import './theme.css';
@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.input-group {
  @apply flex flex-col mb-4;
}

.input-group--inline {
  @apply flex-row;
}

.input-group__label {
  @apply text-sm font-bold mb-2;

  &.required:after {
    margin-left: var(--spacing);
    content: '*';
    color: var(--color-danger);
  }
}


.input-group__input {
  @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring md:text-sm;
}

.input-group__error {
  @apply text-sm text-danger-foreground;
}

.input-group__input.danger {
  @apply border-danger-border;

  &:focus {
    @apply focus-visible:ring-1 focus-visible:ring-danger-ring
  }
}

.btn {
  @apply h-9 px-4 py-2 rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring border-input border;
}

.btn--primary {
  @apply bg-accent text-accent-foreground border-a7;
}

.card {
  @apply rounded-xl border border-border bg-background text-foreground shadow;
}

.card__header {
  @apply flex flex-col p-6;
}

.card__header__title {
  @apply font-semibold leading-none tracking-tight text-lg;
}

.card__body {
  @apply p-6 pt-0;
}

.card__footer {
  @apply p-6 pt-0 flex items-center;
}

.alert {
  @apply p-4 bg-transparent rounded-md text-base;

  &.alert--danger {
    @apply bg-danger text-danger-foreground;
  }

  &.alert--success {
    @apply bg-success text-success-foreground;
  }
}

.app-header {
  @apply border border-border w-full;
}

.app-content {
  @apply grow-1 overflow-y-auto;
}

.app-footer {
  @apply border-t border-border w-full
}
