<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>TOPT Activation Email</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
</head>
<body style="margin: 0; font-family: 'Poppins', sans-serif; font-size: 14px;">
<div>
  <h4 th:text="'Hello ' + ${user.firstName} + ' ' + ${user.lastName} + ','"></h4>
  Login into your account using:
  <!--/*@thymesVar id="loginToken" type="String"*/-->
  <p th:text="${loginToken}"></p>
  <p>The token will be active for the next 10 minutes</p>
</div>
</body>
</html>